In [1]:
import pandas as pd
import numpy as np

In [2]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [3]:
df = pd.read_excel("Data/Euroleague 2020-2021.xlsx")
df

,Player,Club,Number,Position,Nation,Age,Height,Games,Min,Pts,...,Blocks(Fv),Blocks(Fv)_avg,Blocks(Ag),Blocks(Ag)_avg,Fouls(Cm),Fouls(Cm)_avg,Fouls(Rv),Fouls(Rv)_avg,PIR,PIR_avg
0,"Abalde, Alberto",Real Madrid,6,Forward,Spain,25,202,39,761,281,...,0,0.00,6,0.15,60,1.54,57,1.46,325,8.33
1,"Abrines, Alex",FC Barcelona,21,Forward,Spain,27,198,39,730,237,...,8,0.21,7,0.18,96,2.46,39,1.00,182,4.67
2,"Alocen, Carlos",Real Madrid,12,Guard,Spain,20,194,28,376,110,...,2,0.07,4,0.14,46,1.64,31,1.11,93,3.32
3,"Amaize, Robin",FC Bayern Munich,15,Forward,Germany,26,188,9,51,4,...,0,0.00,1,0.11,6,0.67,2,0.22,-1,-0.11
4,"Anderson, James",Anadolu Efes,23,Forward,USA,31,198,41,622,172,...,6,0.15,3,0.07,55,1.34,39,0.95,234,5.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,"Zakharov, Denis",Zenit St Petersburg,3,Guard,Russian Federation,27,192,17,82,15,...,1,0.06,0,0.00,20,1.18,12,0.71,6,0.35
290,"Zipser, Paul",FC Bayern Munich,16,Forward,Germany,26,203,39,858,356,...,10,0.26,5,0.13,86,2.21,74,1.90,371,9.51
291,"Zizic, Ante",Maccabi Playtika Tel Aviv,23,Center,Croatia,23,210,34,676,309,...,26,0.76,17,0.50,56,1.65,58,1.71,386,11.35
292,"Zoosman, Yovel",Maccabi Playtika Tel Aviv,50,Guard,Poland,22,200,11,150,29,...,0,0.00,1,0.09,22,2.00,7,0.64,18,1.64
293,"Zubkov, Andrey",Zenit St Petersburg,20,Forward,Russian Federation,29,206,39,626,197,...,1,0.03,3,0.08,67,1.72,53,1.36,197,5.05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          294 non-null    object
 1   Club            294 non-null    object
 2   Number          294 non-null    int64
 3   Position        294 non-null    object
 4   Nation          294 non-null    object
 5   Age             294 non-null    int64
 6   Height          294 non-null    int64
 7   Games           294 non-null    int64
 8   Min             294 non-null    int64
 9   Pts             294 non-null    int64
 10  Pts_avg         294 non-null    float64
 11  2FG             294 non-null    object
 12  3FG             294 non-null    object
 13  FT              294 non-null    object
 14  Rebounds        294 non-null    int64
 15  Rebounds_avg    294 non-null    float64
 16  Assists         294 non-null    int64
 17  Assists_avg     294 non-null    float64
 18  Steals          294 non-null    int64
 19  Steals_avg      294 non-null    float64
 20  Turnovers       294 non-null    int64
 21  Turnovers_avg   294 non-null    float64
 22  Blocks(Fv)      294 non-null    int64
 23  Blocks(Fv)_avg  294 non-null    float64
 24  Blocks(Ag)      294 non-null    int64
 25  Blocks(Ag)_avg  294 non-null    float64
 26  Fouls(Cm)       294 non-null    int64
 27  Fouls(Cm)_avg   294 non-null    float64
 28  Fouls(Rv)       294 non-null    int64
 29  Fouls(Rv)_avg   294 non-null    float64
 30  PIR             294 non-null    int64
 31  PIR_avg         294 non-null    float64
dtypes: float64(10), int64(15), object(7)
memory usage: 73.6+ KB

In [5]:
df.describe()

,Number,Age,Height,Games,Min,Pts,Pts_avg,Rebounds,Rebounds_avg,Assists,...,Blocks(Fv),Blocks(Fv)_avg,Blocks(Ag),Blocks(Ag)_avg,Fouls(Cm),Fouls(Cm)_avg,Fouls(Rv),Fouls(Rv)_avg,PIR,PIR_avg
count,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,...,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000
mean,17.578231,27.578231,199.710884,24.057823,450.500000,177.105442,6.254810,65.227891,2.378503,39.163265,...,5.404762,0.202619,5.404762,0.199898,44.884354,1.719014,44.564626,1.596122,189.561224,6.526701
std,15.975846,4.565676,8.186067,11.480807,305.773386,147.231397,4.174004,54.368033,1.539595,44.840337,...,8.139742,0.274558,5.345035,0.162177,27.533044,0.676036,40.849272,1.183674,169.496629,4.988507
min,0.000000,17.000000,178.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000,-2.000000
25%,7.000000,25.000000,193.000000,15.000000,168.500000,42.250000,2.904167,19.250000,1.200000,8.250000,...,0.000000,0.000000,1.000000,0.080000,22.000000,1.300000,10.000000,0.710000,40.250000,2.362500
50%,13.000000,28.000000,200.000000,28.000000,471.000000,151.500000,5.768908,52.000000,2.080000,26.000000,...,2.000000,0.100000,4.000000,0.170000,44.500000,1.730000,34.000000,1.325000,151.000000,5.665000
75%,23.000000,31.000000,205.000000,33.000000,700.750000,281.000000,9.123932,101.750000,3.217500,51.750000,...,7.000000,0.290000,8.000000,0.290000,66.000000,2.165000,65.750000,2.197500,308.000000,10.292500
max,99.000000,40.000000,223.000000,41.000000,1200.000000,668.000000,19.782609,289.000000,8.550000,266.000000,...,63.000000,1.750000,28.000000,0.780000,120.000000,3.730000,198.000000,5.310000,701.000000,19.700000

In [4]:
df.groupby(['Position', 'Club'])[['Games', 'Min', 'Pts_avg', 'Rebounds_avg', 'Assists_avg', 
                        'Steals_avg', 'Turnovers_avg', 'Blocks(Fv)_avg', 'Blocks(Ag)_avg',
                        'Fouls(Cm)_avg', 'Fouls(Rv)_avg', 'PIR_avg']].mean()

                                         Games         Min    Pts_avg  \
Position Club
Center   AX Armani Exchange Milan    26.600000  504.800000   5.074937
         Alba Berlin                 18.250000  324.750000   5.843491
         Anadolu Efes                31.333333  510.333333   7.501362
         Baskonia Vitoria-Gasteiz    31.000000  576.800000   7.593523
         CSKA Moscow                 17.000000  322.500000   7.603571
         Crvena Zvezda Mts Belgrade  18.500000  283.000000   5.331348
         FC Barcelona                19.600000  302.800000   4.942256
         FC Bayern Munich            28.666667  489.000000   6.755579
         Fenerbahce Beko Istanbul    22.250000  386.000000   5.816129
         Khimki Moscow Region        16.750000  449.750000  12.644048
         LDLC ASVEL Villeurbanne     28.666667  502.000000   6.455595
         Maccabi Playtika Tel Aviv   21.000000  416.000000   5.683733
         Olympiacos Piraeus          21.666667  368.000000   6.507576
         Panathinaikos Opap Athens   18.666667  310.666667   4.932044
         Real Madrid                 24.500000  460.000000   5.154380
         Valencia Basket             26.333333  463.666667   7.448768
         Zalgiris Kaunas             23.666667  322.000000   5.330492
         Zenit St Petersburg         19.333333  295.000000   5.454508
Forward  AX Armani Exchange Milan    33.750000  637.750000   7.271673
         Alba Berlin                 23.000000  443.333333   5.812005
         Anadolu Efes                22.500000  402.833333   3.058266
         Baskonia Vitoria-Gasteiz    27.250000  535.500000   6.354799
         CSKA Moscow                 29.000000  575.428571   6.423586
         Crvena Zvezda Mts Belgrade  21.800000  432.000000   5.811761
         FC Barcelona                33.428571  582.428571   6.370547
         FC Bayern Munich            25.333333  495.500000   5.595417
         Fenerbahce Beko Istanbul    28.200000  549.400000   5.752795
         Khimki Moscow Region        14.333333  250.222222   3.733037
         LDLC ASVEL Villeurbanne     20.571429  417.571429   6.157625
         Maccabi Playtika Tel Aviv   20.500000  345.166667   3.842209
         Olympiacos Piraeus          23.200000  438.400000   6.933817
         Panathinaikos Opap Athens   26.833333  535.333333   8.553917
         Real Madrid                 26.875000  489.000000   6.519618
         Valencia Basket             30.250000  625.500000   7.946712
         Zalgiris Kaunas             23.600000  427.400000   5.337304
         Zenit St Petersburg         25.333333  527.333333   5.323588
Guard    AX Armani Exchange Milan    25.142857  461.714286   6.230239
         Alba Berlin                 26.166667  483.000000   7.463888
         Anadolu Efes                28.857143  612.142857   8.271507
         Baskonia Vitoria-Gasteiz    29.000000  602.333333   7.138889
         CSKA Moscow                 25.142857  465.857143   8.219000
         Crvena Zvezda Mts Belgrade  21.333333  396.444444   6.852158
         FC Barcelona                27.400000  538.600000   5.903283
         FC Bayern Munich            20.555556  382.888889   4.840653
         Fenerbahce Beko Istanbul    20.125000  392.500000   6.878541
         Khimki Moscow Region        19.285714  401.571429   7.165973
         LDLC ASVEL Villeurbanne     21.833333  404.833333   6.527130
         Maccabi Playtika Tel Aviv   26.857143  512.714286   7.065922
         Olympiacos Piraeus          23.125000  448.375000   5.236353
         Panathinaikos Opap Athens   19.250000  345.250000   5.808692
         Real Madrid                 25.800000  431.600000   7.620988
         Valencia Basket             21.125000  370.250000   5.393858
         Zalgiris Kaunas             25.285714  529.571429   6.768950
         Zenit St Petersburg         31.142857  540.142857   5.782366

                                     Rebounds_avg  Assists_avg  Steals_avg  \
Position Club
Center   AX Armani Exchange Milan        3.258000     0.584000    0.412000
         Alba Berlin                     3.140000     0.710000    0.407500
         Anadolu Efes                    2.940000     0.726667    0.493333
         Baskonia Vitoria-Gasteiz        4.000000     1.238000    0.596000
         CSKA Moscow                     5.920000     0.505000    0.485000
         Crvena Zvezda Mts Belgrade      3.830000     0.402500    0.380000
         FC Barcelona                    2.328000     0.576000    0.330000
         FC Bayern Munich                3.690000     0.800000    0.693333
         Fenerbahce Beko Istanbul        3.307500     1.300000    0.530000
         Khimki Moscow Region            5.737500     1.510000    0.542500
         LDLC ASVEL Villeurbanne         3.846667     1.033333    0.443333
         Maccabi Playtika Tel Aviv       3.870000     0.573333    0.406667
         Olympiacos Piraeus              3.640000     0.496667    0.403333
         Panathinaikos Opap Athens       2.666667     0.596667    0.303333
         Real Madrid                     4.070000     0.580000    0.492500
         Valencia Basket                 4.026667     1.173333    0.500000
         Zalgiris Kaunas                 2.950000     0.793333    0.296667
         Zenit St Petersburg             2.880000     0.423333    0.416667
Forward  AX Armani Exchange Milan        2.637500     0.965000    0.530000
         Alba Berlin                     2.870000     1.218333    0.526667
         Anadolu Efes                    2.163333     0.511667    0.335000
         Baskonia Vitoria-Gasteiz        2.112500     0.917500    0.590000
         CSKA Moscow                     3.150000     0.945714    0.551429
         Crvena Zvezda Mts Belgrade      2.854000     0.984000    0.520000
         FC Barcelona                    2.678571     0.725714    0.547143
         FC Bayern Munich                2.505000     0.606667    0.556667
         Fenerbahce Beko Istanbul        2.348000     1.086000    0.348000
         Khimki Moscow Region            1.780000     0.871111    0.414444
         LDLC ASVEL Villeurbanne         2.271429     0.882857    0.568571
         Maccabi Playtika Tel Aviv       2.138333     0.703333    0.336667
         Olympiacos Piraeus              2.830000     0.984000    0.470000
         Panathinaikos Opap Athens       3.366667     1.138333    0.680000
         Real Madrid                     2.368750     1.101250    0.496250
         Valencia Basket                 2.862500     1.502500    0.602500
         Zalgiris Kaunas                 2.684000     0.778000    0.454000
         Zenit St Petersburg             2.840000     1.028333    0.635000
Guard    AX Armani Exchange Milan        1.338571     1.691429    0.478571
         Alba Berlin                     1.600000     2.541667    0.656667
         Anadolu Efes                    1.748571     2.325714    0.631429
         Baskonia Vitoria-Gasteiz        1.856667     3.723333    1.126667
         CSKA Moscow                     1.752857     1.994286    0.592857
         Crvena Zvezda Mts Belgrade      1.623333     1.871111    0.546667
         FC Barcelona                    1.838000     2.884000    0.600000
         FC Bayern Munich                1.235556     1.696667    0.557778
         Fenerbahce Beko Istanbul        1.657500     1.942500    0.703750
         Khimki Moscow Region            2.177143     2.631429    0.744286
         LDLC ASVEL Villeurbanne         1.431667     2.140000    0.555000
         Maccabi Playtika Tel Aviv       1.912857     1.722857    0.700000
         Olympiacos Piraeus              1.488750     1.776250    0.735000
         Panathinaikos Opap Athens       1.428750     2.105000    0.533750
         Real Madrid                     1.622000     3.250000    0.686000
         Valencia Basket                 1.476250     1.893750    0.433750
         Zalgiris Kaunas                 1.432857     2.005714    0.537143
         Zenit St Petersburg             1.271429     1.782857    0.460000

                                     Turnovers_avg  Blocks(Fv)_avg  \
Position Club
Center   AX Armani Exchange Milan         0.858000        0.386000
         Alba Berlin                      0.845000        0.597500
         Anadolu Efes                     0.650000        0.550000
         Baskonia Vitoria-Gasteiz         1.188000        0.488000
         CSKA Moscow                      0.755000        0.475000
         Crvena Zvezda Mts Belgrade       0.812500        0.597500
         FC Barcelona                     0.894000        0.428000
         FC Bayern Munich                 1.200000        0.373333
         Fenerbahce Beko Istanbul         1.100000        0.492500
         Khimki Moscow Region             1.855000        0.737500
         LDLC ASVEL Villeurbanne          0.990000        0.703333
         Maccabi Playtika Tel Aviv        0.996667        0.463333
         Olympiacos Piraeus               1.126667        0.590000
         Panathinaikos Opap Athens        0.803333        0.563333
         Real Madrid                      1.152500        0.792500
         Valencia Basket                  1.066667        0.216667
         Zalgiris Kaunas                  0.880000        0.146667
         Zenit St Petersburg              0.893333        0.520000
Forward  AX Armani Exchange Milan         0.727500        0.187500
         Alba Berlin                      1.168333        0.190000
         Anadolu Efes                     0.516667        0.135000
         Baskonia Vitoria-Gasteiz         0.805000        0.100000
         CSKA Moscow                      1.070000        0.232857
         Crvena Zvezda Mts Belgrade       0.986000        0.122000
         FC Barcelona                     0.814286        0.192857
         FC Bayern Munich                 0.640000        0.178333
         Fenerbahce Beko Istanbul         0.902000        0.140000
         Khimki Moscow Region             0.584444        0.092222
         LDLC ASVEL Villeurbanne          0.971429        0.235714
         Maccabi Playtika Tel Aviv        0.730000        0.221667
         Olympiacos Piraeus               0.920000        0.342000
         Panathinaikos Opap Athens        1.213333        0.198333
         Real Madrid                      0.880000        0.128750
         Valencia Basket                  1.020000        0.217500
         Zalgiris Kaunas                  0.682000        0.186000
         Zenit St Petersburg              0.816667        0.160000
Guard    AX Armani Exchange Milan         0.954286        0.024286
         Alba Berlin                      1.326667        0.013333
         Anadolu Efes                     1.181429        0.127143
         Baskonia Vitoria-Gasteiz         1.813333        0.070000
         CSKA Moscow                      1.071429        0.052857
         Crvena Zvezda Mts Belgrade       1.438889        0.056667
         FC Barcelona                     1.532000        0.106000
         FC Bayern Munich                 0.887778        0.068889
         Fenerbahce Beko Istanbul         1.495000        0.040000
         Khimki Moscow Region             1.542857        0.182857
         LDLC ASVEL Villeurbanne          1.695000        0.043333
         Maccabi Playtika Tel Aviv        1.192857        0.060000
         Olympiacos Piraeus               1.316250        0.040000
         Panathinaikos Opap Athens        1.195000        0.098750
         Real Madrid                      1.480000        0.014000
         Valencia Basket                  0.970000        0.061250
         Zalgiris Kaunas                  1.158571        0.027143
         Zenit St Petersburg              0.947143        0.054286

                                     Blocks(Ag)_avg  Fouls(Cm)_avg  \
Position Club
Center   AX Armani Exchange Milan          0.194000       1.740000
         Alba Berlin                       0.175000       1.655000
         Anadolu Efes                      0.270000       1.866667
         Baskonia Vitoria-Gasteiz          0.244000       2.076000
         CSKA Moscow                       0.295000       1.530000
         Crvena Zvezda Mts Belgrade        0.202500       1.795000
         FC Barcelona                      0.158000       1.532000
         FC Bayern Munich                  0.136667       2.296667
         Fenerbahce Beko Istanbul          0.172500       1.935000
         Khimki Moscow Region              0.455000       2.302500
         LDLC ASVEL Villeurbanne           0.190000       1.930000
         Maccabi Playtika Tel Aviv         0.230000       1.193333
         Olympiacos Piraeus                0.253333       2.310000
         Panathinaikos Opap Athens         0.093333       1.353333
         Real Madrid                       0.155000       2.272500
         Valencia Basket                   0.360000       1.613333
         Zalgiris Kaunas                   0.283333       1.263333
         Zenit St Petersburg               0.283333       2.330000
Forward  AX Armani Exchange Milan          0.130000       1.615000
         Alba Berlin                       0.228333       1.745000
         Anadolu Efes                      0.080000       0.978333
         Baskonia Vitoria-Gasteiz          0.280000       1.150000
         CSKA Moscow                       0.200000       1.582857
         Crvena Zvezda Mts Belgrade        0.158000       1.786000
         FC Barcelona                      0.115714       1.818571
         FC Bayern Munich                  0.103333       1.756667
         Fenerbahce Beko Istanbul          0.140000       1.614000
         Khimki Moscow Region              0.085556       2.094444
         LDLC ASVEL Villeurbanne           0.124286       1.968571
         Maccabi Playtika Tel Aviv         0.216667       1.546667
         Olympiacos Piraeus                0.102000       1.612000
         Panathinaikos Opap Athens         0.231667       1.825000
         Real Madrid                       0.152500       1.433750
         Valencia Basket                   0.202500       1.640000
         Zalgiris Kaunas                   0.210000       1.538000
         Zenit St Petersburg               0.138333       1.420000
Guard    AX Armani Exchange Milan          0.185714       1.484286
         Alba Berlin                       0.255000       1.556667
         Anadolu Efes                      0.261429       1.462857
         Baskonia Vitoria-Gasteiz          0.156667       1.536667
         CSKA Moscow                       0.244286       1.947143
         Crvena Zvezda Mts Belgrade        0.280000       1.860000
         FC Barcelona                      0.232000       1.608000
         FC Bayern Munich                  0.162222       1.630000
         Fenerbahce Beko Istanbul          0.250000       1.670000
         Khimki Moscow Region              0.304286       2.138571
         LDLC ASVEL Villeurbanne           0.228333       2.045000
         Maccabi Playtika Tel Aviv         0.268571       1.678571
         Olympiacos Piraeus                0.182500       1.550000
         Panathinaikos Opap Athens         0.261250       1.880000
         Real Madrid                       0.160000       1.844000
         Valencia Basket                   0.203750       1.655000
         Zalgiris Kaunas                   0.180000       1.682857
         Zenit St Petersburg               0.157143       1.668571

                                     Fouls(Rv)_avg    PIR_avg
Position Club
Center   AX Armani Exchange Milan         1.604000   6.444000
         Alba Berlin                      1.392500   7.050000
         Anadolu Efes                     1.733333   8.520000
         Baskonia Vitoria-Gasteiz         1.768000   9.114000
         CSKA Moscow                      1.805000  12.105000
         Crvena Zvezda Mts Belgrade       1.235000   6.865000
         FC Barcelona                     1.576000   5.530000
         FC Bayern Munich                 1.373333   7.286667
         Fenerbahce Beko Istanbul         1.145000   7.515000
         Khimki Moscow Region             2.935000  14.142500
         LDLC ASVEL Villeurbanne          1.900000   8.870000
         Maccabi Playtika Tel Aviv        1.223333   7.196667
         Olympiacos Piraeus               1.526667   7.586667
         Panathinaikos Opap Athens        1.116667   6.226667
         Real Madrid                      1.230000   6.660000
         Valencia Basket                  1.796667   9.223333
         Zalgiris Kaunas                  1.233333   6.220000
         Zenit St Petersburg              1.943333   6.136667
Forward  AX Armani Exchange Milan         1.355000   7.505000
         Alba Berlin                      1.750000   6.290000
         Anadolu Efes                     0.786667   3.720000
         Baskonia Vitoria-Gasteiz         1.580000   6.422500
         CSKA Moscow                      1.698571   7.212857
         Crvena Zvezda Mts Belgrade       1.514000   5.968000
         FC Barcelona                     1.488571   6.820000
         FC Bayern Munich                 1.626667   6.161667
         Fenerbahce Beko Istanbul         1.442000   6.278000
         Khimki Moscow Region             0.870000   3.036667
         LDLC ASVEL Villeurbanne          1.630000   5.978571
         Maccabi Playtika Tel Aviv        0.910000   3.695000
         Olympiacos Piraeus               1.516000   7.430000
         Panathinaikos Opap Athens        2.155000   8.673333
         Real Madrid                      1.435000   6.511250
         Valencia Basket                  1.995000   9.140000
         Zalgiris Kaunas                  1.160000   5.828000
         Zenit St Petersburg              1.543333   6.941667
Guard    AX Armani Exchange Milan         1.675714   5.921429
         Alba Berlin                      1.886667   7.383333
         Anadolu Efes                     1.937143   8.738571
         Baskonia Vitoria-Gasteiz         1.993333   8.656667
         CSKA Moscow                      2.107143   7.542857
         Crvena Zvezda Mts Belgrade       1.888889   5.990000
         FC Barcelona                     1.584000   6.302000
         FC Bayern Munich                 1.272222   4.435556
         Fenerbahce Beko Istanbul         1.656250   6.251250
         Khimki Moscow Region             1.935714   6.771429
         LDLC ASVEL Villeurbanne          1.876667   5.123333
         Maccabi Playtika Tel Aviv        1.842857   6.557143
         Olympiacos Piraeus               1.463750   4.502500
         Panathinaikos Opap Athens        1.701250   5.153750
         Real Madrid                      2.226000   7.984000
         Valencia Basket                  1.330000   5.127500
         Zalgiris Kaunas                  1.875714   6.858571
         Zenit St Petersburg              1.312857   5.001429

In [8]:
df[['2FG', '3FG', 'FT']]

         2FG     3FG     FT
0     47/100  50/115  37/44
1      22/50  55/130  28/31
2      35/68   11/39   7/12
3        2/5     0/3    0/0
4      34/63   23/51  35/49
..       ...     ...    ...
289      2/6    1/11   8/12
290    55/95  60/137  66/82
291  136/231     0/0  37/48
292     3/12    7/18    2/2
293    53/88   23/61  22/34

[294 rows x 3 columns]

In [5]:
df1 = df['2FG'].str.split('/', expand=True).astype('int32') 
df2 = df['3FG'].str.split('/', expand=True).astype('int32')
df3 = df['FT'].str.split('/', expand=True).astype('int32')

In [6]:
df4 = df1 + df2 + df3

In [7]:
df.insert(13, ("Total_Shot"), df4[0])
df.insert(14, ("Total_Try"), df4[1])
df.insert(15, ("Total_Avg"), (df4[0] / df4[1]))

In [8]:
usa1 = df[df['Nation'] == 'USA']
usa1.Player.count()

81

In [9]:
non_usa1 = df[~(df['Nation'] == 'USA')]
non_usa1.Player.count()

213

In [10]:
df[(df['Nation'] == 'USA')].groupby("Position").Position.count()

Position
Center     20
Forward    20
Guard      41
Name: Position, dtype: int64

In [11]:
df[~(df['Nation'] == 'USA')].groupby("Position").Position.count()

Position
Center     44
Forward    86
Guard      83
Name: Position, dtype: int64

In [12]:
df['Min'].sum()

132447

In [13]:
usa1.Min.sum(), usa1.Min.sum() / df['Min'].sum(), usa1.Min.sum() / usa1.Player.count()

(46788, 0.35325828444585383, 577.6296296296297)

In [47]:
non_usa1.Min.sum(), non_usa1.Min.sum() / df['Min'].sum(), non_usa1.Min.sum() / non_usa1.Player.count()

(85659, 0.6467417155541462, 402.15492957746477)

In [14]:
stats = ['Min', 'Pts_avg', 'Rebounds_avg', 'Assists_avg', 'Steals_avg', 'Blocks(Fv)_avg', 'PIR_avg']

In [15]:
display('usa1[stats].agg([np.mean, max]).T', 'non_usa1[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

non_usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             402.154930  1200.000000
Pts_avg           5.477077    19.782609
Rebounds_avg      2.185822     8.550000
Assists_avg       1.288873     7.740000
Steals_avg        0.481549     2.000000
Blocks(Fv)_avg    0.178920     1.750000
PIR_avg           5.768404    19.610000

In [16]:
usa2 = df[(df['Nation'] == 'USA') & (df['Min'] > 400)]
usa2.Player.count(), usa2.Player.count()/usa1.Player.count()

(59, 0.7283950617283951)

In [17]:
non_usa2 = df[~(df['Nation'] == 'USA') & (df['Min'] > 400)]
non_usa2.Player.count(), non_usa2.Player.count()/non_usa1.Player.count()

(101, 0.47417840375586856)

In [18]:
display('usa1[stats].agg([np.mean, max]).T', 'usa2[stats].agg([np.mean, max]).T', 'non_usa2[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

usa2[stats].agg([np.mean, max]).T
                      mean          max
Min             725.881356  1065.000000
Pts_avg           9.574206    19.333333
Rebounds_avg      3.113559     5.790000
Assists_avg       1.917119     7.290000
Steals_avg        0.790508     1.740000
Blocks(Fv)_avg    0.262203     1.540000
PIR_avg          10.034407    19.700000

non_usa2[stats].agg([np.mean, max]).T
                      mean          max
Min             674.980198  1200.000000
Pts_avg           8.251491    19.782609
Rebounds_avg      3.108317     8.550000
Assists_avg       1.914554     7.740000
Steals_avg        0.675644     1.590000
Blocks(Fv)_avg    0.244158     1.750000
PIR_avg           9.299505    19.610000

In [19]:
usa3 = df[(df['Nation'] == 'USA') & (df['Min'] > 500)]
usa3.Player.count(), usa3.Player.count()/usa1.Player.count()

(53, 0.654320987654321)

In [20]:
non_usa3 = df[~(df['Nation'] == 'USA') & (df['Min'] > 500)]
non_usa3.Player.count(), non_usa3.Player.count()/non_usa1.Player.count()

(85, 0.39906103286384975)

In [21]:
display('usa1[stats].agg([np.mean, max]).T', 'usa3[stats].agg([np.mean, max]).T', 'non_usa3[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

usa3[stats].agg([np.mean, max]).T
                      mean          max
Min             756.207547  1065.000000
Pts_avg           9.781246    19.333333
Rebounds_avg      3.150000     5.790000
Assists_avg       1.990755     7.290000
Steals_avg        0.827925     1.740000
Blocks(Fv)_avg    0.265283     1.540000
PIR_avg          10.319623    19.700000

non_usa3[stats].agg([np.mean, max]).T
                      mean          max
Min             716.282353  1200.000000
Pts_avg           8.755545    19.782609
Rebounds_avg      3.217059     8.030000
Assists_avg       2.073882     7.740000
Steals_avg        0.712824     1.590000
Blocks(Fv)_avg    0.247529     1.750000
PIR_avg           9.930941    19.610000

In [22]:
usa4 = df[(df['Nation'] == 'USA') & (df['Min'] > 600)]
usa4.Player.count(), usa4.Player.count()/usa1.Player.count()

(41, 0.5061728395061729)

In [23]:
non_usa4 = df[~(df['Nation'] == 'USA') & (df['Min'] > 600)]
non_usa4.Player.count(), non_usa4.Player.count()/non_usa1.Player.count()

(61, 0.2863849765258216)

In [24]:
display('usa1[stats].agg([np.mean, max]).T', 'usa4[stats].agg([np.mean, max]).T', 'non_usa4[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

usa4[stats].agg([np.mean, max]).T
                      mean          max
Min             815.926829  1065.000000
Pts_avg          10.656577    19.333333
Rebounds_avg      3.258537     5.790000
Assists_avg       2.180000     7.290000
Steals_avg        0.879268     1.740000
Blocks(Fv)_avg    0.249268     1.540000
PIR_avg          11.151220    19.700000

non_usa4[stats].agg([np.mean, max]).T
                      mean          max
Min             778.770492  1200.000000
Pts_avg           9.622983    19.782609
Rebounds_avg      3.530328     8.030000
Assists_avg       2.255738     7.740000
Steals_avg        0.763934     1.590000
Blocks(Fv)_avg    0.291475     1.750000
PIR_avg          11.170820    19.610000

In [25]:
usa5 = df[(df['Nation'] == 'USA') & (df['Min'] > 700)]
usa5.Player.count(), usa5.Player.count()/usa1.Player.count()

(37, 0.4567901234567901)

In [26]:
non_usa5 = df[~(df['Nation'] == 'USA') & (df['Min'] > 700)]
non_usa5.Player.count(), non_usa5.Player.count()/non_usa1.Player.count()

(37, 0.17370892018779344)

In [27]:
display('usa1[stats].agg([np.mean, max]).T', 'usa5[stats].agg([np.mean, max]).T', 'non_usa5[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

usa5[stats].agg([np.mean, max]).T
                      mean          max
Min             836.135135  1065.000000
Pts_avg          10.905200    19.333333
Rebounds_avg      3.272162     5.790000
Assists_avg       2.290270     7.290000
Steals_avg        0.904054     1.740000
Blocks(Fv)_avg    0.243514     1.540000
PIR_avg          11.399459    19.700000

non_usa5[stats].agg([np.mean, max]).T
                      mean          max
Min             861.486486  1200.000000
Pts_avg          10.656765    19.782609
Rebounds_avg      3.639730     8.030000
Assists_avg       2.627568     7.740000
Steals_avg        0.864054     1.590000
Blocks(Fv)_avg    0.308919     1.750000
PIR_avg          12.462432    19.610000

In [28]:
usa6 = df[(df['Nation'] == 'USA') & (df['Min'] > 800)]
usa6.Player.count(), usa6.Player.count()/usa1.Player.count()

(21, 0.25925925925925924)

In [29]:
non_usa6 = df[~(df['Nation'] == 'USA') & (df['Min'] > 800)]
non_usa6.Player.count(), non_usa6.Player.count()/non_usa1.Player.count()

(24, 0.11267605633802817)

In [30]:
display('usa1[stats].agg([np.mean, max]).T', 'usa6[stats].agg([np.mean, max]).T', 'non_usa6[stats].agg([np.mean, max]).T')

usa1[stats].agg([np.mean, max]).T
                      mean          max
Min             577.629630  1065.000000
Pts_avg           8.299958    19.333333
Rebounds_avg      2.885185     6.000000
Assists_avg       1.699506     7.290000
Steals_avg        0.682593     1.740000
Blocks(Fv)_avg    0.264938     1.540000
PIR_avg           8.520741    19.700000

usa6[stats].agg([np.mean, max]).T
                      mean          max
Min             894.571429  1065.000000
Pts_avg          11.345671    19.333333
Rebounds_avg      3.468571     5.790000
Assists_avg       2.459524     7.290000
Steals_avg        0.962857     1.740000
Blocks(Fv)_avg    0.272857     1.540000
PIR_avg          12.311429    19.700000

non_usa6[stats].agg([np.mean, max]).T
                      mean      max
Min             925.250000  1200.00
Pts_avg          11.359816    16.70
Rebounds_avg      3.816250     8.03
Assists_avg       2.780000     6.67
Steals_avg        0.925417     1.59
Blocks(Fv)_avg    0.304167     1.75
PIR_avg          13.420000    19.52

In [35]:
df.columns

Index(['Player', 'Club', 'Number', 'Position', 'Nation', 'Age', 'Height',
       'Games', 'Min', 'Pts', 'Pts_avg', '2FG', '3FG', 'Total_Shot',
       'Total_Try', 'Total_Avg', 'FT', 'Rebounds', 'Rebounds_avg', 'Assists',
       'Assists_avg', 'Steals', 'Steals_avg', 'Turnovers', 'Turnovers_avg',
       'Blocks(Fv)', 'Blocks(Fv)_avg', 'Blocks(Ag)', 'Blocks(Ag)_avg',
       'Fouls(Cm)', 'Fouls(Cm)_avg', 'Fouls(Rv)', 'Fouls(Rv)_avg', 'PIR',
       'PIR_avg'],
      dtype='object')

In [36]:
df[(df['Nation'] == 'USA')][['Total_Try']].sum() / 81

Total_Try    241.753086
dtype: float64

In [37]:
df[(df['Nation'] == 'USA')][['Total_Avg']].mean()

Total_Avg    0.532379
dtype: float64

In [38]:
df[~(df['Nation'] == 'USA')][['Total_Try']].sum() / 213

Total_Try    145.295775
dtype: float64

In [39]:
df[~(df['Nation'] == 'USA')][['Total_Avg']].mean()

Total_Avg    0.492461
dtype: float64